---
extends: default

rules:
  line-length:
    max: 160
  truthy:
    allowed-values: ["true", "false"]
  comments:
    min-spaces-from-content: 1

ignore: |
  .git/
  vars/*.md
  vars/*.pptx
  vars/*.txt
